.font-xsmall {
    font-size: 0.714em !important;
}
.font-small {
    font-size: 0.786em !important;
}
.font-normal {
    /*font-size: 0.857em !important;*/
}
.font-large {
    font-size: 1em !important;
}
.font-xlarge {
    font-size: 1.143em !important;
}

/***********************************************
 * Tasklists
 **********************************************/
#tasklists {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.86);
    font: 1.143em 'Roboto-Medium';
}

#tasklists li {
    padding: 0.571em 0.875em 0;
    height: 2em;
}

#tasklists li.active {
    background-color: rgba(0, 153, 204, 0.5);
}

#tasklists li:first-child {
    background: url('../images/dropdown.png') no-repeat right center;
    text-align: center;
}

#tasklists li:not(:first-child) {
    display: none;
}

/***********************************************
 * Tasks
 **********************************************/
#tasks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font: 1em/1.143em 'Roboto-Regular';
}

.task:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.task.active {
    background-color: rgba(0, 153, 204, 0.5);
}

.task header {
    display: table;
    padding-top: 1.3em;
}

.task .row {
    display: table-row;
}

.task .title {
    display: table-cell;
    font: 1.143em/1.143em 'Roboto-Medium';
    width: 100%;
}

.task .duedate {
    display: table-cell;
    font: 0.857em 'Roboto-Regular';
    opacity: 0.5;
}
.task.due .duedate {
    font: 1em 'Roboto-Medium';
    opacity: 0.8;
}
.task.overdue .duedate {
    color: red;
    opacity: 0.8;
}

.task .tasklist {
    display: table-cell;
    font: 0.857em 'Roboto-Light';
    opacity: 0.5;
}

.task .notes {
    padding-bottom: 1.3em;
}
.task .notes p {
    margin-bottom: 0.2em;
}

.task .actions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
    font: 1em 'Roboto-Medium';
    text-align: center;
}
.task .actions li {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 50%;
    padding: 0.5em 0;
}
.task .actions li:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.task .actions li.active {
    background-color: rgba(0, 153, 204, 0.5);
}
.task .actions:after {
    content: '';
    display: block;
    clear: left;
}

#no-tasks {
    position: fixed;
    height: 100%;
}