/***********************************************
 * Tabs
 **********************************************/
#chameleon-widget-settings .tabs {
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #0099cc;
}

#chameleon-widget-settings .tabs li {
    display: block;
    float: left;
    width: 50%;
}

#chameleon-widget-settings .tabs a {
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0.7em 0;
}

#chameleon-widget-settings .tabs a.active {
    background-color: #0099cc;
}

#chameleon-widget-settings .tabs:after {
    content: '';
    display: block;
    clear: left;
}

#chameleon-widget-settings .tab-content {
    display: none;
}

#chameleon-widget-settings .tab-content.active,
#chameleon-widget-settings .tab-content:target {
    display: block;
}

/***********************************************
 * Other
 **********************************************/
#chameleon-widget-settings header {
    background-color: #57a0ff !important;
}

#chameleon-widget-settings .checkbox-container {
    margin-bottom: 18px;
}

#chameleon-widget-settings input[type="checkbox"] {
    float: left;
}

#chameleon-widget-settings .help a {
    display: inline;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
    border-radius: 0;
	box-shadow: none;
	color: #0099cc;
	text-decoration: underline;
    text-transform: none;
}