#chameleon-widget-settings header {
    background-color: #57a0ff !important;
}

#chameleon-widget-settings input[type="text"],
#chameleon-widget-settings textarea {
	margin: 18px 0;
}

#chameleon-widget-settings .checkbox-container {
    margin-bottom: 18px;
}

#chameleon-widget-settings input[type="checkbox"] {
    float: left;
}

#chameleon-widget-settings #due-controls {
	position: relative;
}

#chameleon-widget-settings #clear-due-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.2em 0.5em;
	margin: 18px 0;
	background: none;
	border: none;
	box-shadow: none;
}

#chameleon-widget-settings textarea {
	color: #fff;
	display: block;
	width: 99%;
}